<section id="">
    <div class="container mt-6 mb-6">
        <div class="columns is-mobile mt-6 mb-6">
            <div class="column is-8 is-offset-2 box">
                <div class="column is-8 is-offset-2">
                    <div class="container mt-4">
                        <h1 class="title">
                            Vanilla SPA
                        </h1>
                        <h2 class="subtitle">
                            SPA in plain JavaScript and NET Core 3.1.
                        </h2>
                    </div>
                    <div class="content mt-6 mb-6">
                        This is about page saying that Single Page Application in plain JavaScript is fairly simple to build and it may be a good alternative for libraries like React.js,
                        for smaller projects where plain JavaScript and no frameworks/complex libraries are required.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>