<section id="">
    <div id="Handle_Modal" class="modal"></div>
    <section class="hero is-info mt-3">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Vanilla SPA
                </h1>
                <h2 class="subtitle">
                    SPA in plain JavaScript
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container mt-3 mb-3">
            <h1 class="title">The purpose</h1>
            <h2 class="subtitle">
                Why this has been created in first place?
            </h2>
            <p>
                This web application has been built to test the concept presented by an author in the following article: <a href="https://medium.com/better-programming/js-vanilla-script-spa-1b29b43ea475" target="_blank">JavaScript: Vanilla Single Page Applications (SPA)</a> 
                posted on <a href="https://medium.com/" target="_blank">Medium.com</a>. Therefore:
            </p>
            <div class="content">
                <ol class="is-upper-roman">
                    <li>
                        It imitates React.js. It is Single Page Application, no multi pages.
                    </li>
                    <li>
                        It can use components.
                    </li>
                    <li>
                        It have no state management.
                    </li>
                    <li>
                        It is fully in plain JavaScript, no server side rendering.
                    </li>
                </ol>
            </div>
        </div>
        <div class="is-divider"></div>
        <div class="container mt-3 mb-3">
            <h1 class="title">The technology</h1>
            <h2 class="subtitle">
                What has been used?
            </h2>
            <p>
                Front-end:
            </p>
            <div class="content">
                <ol class="is-upper-roman">
                    <li>
                        Bulma CSS framework v.0.9.0 via CDN.
                    </li>
                    <li>
                        Bulma divider 0.2.0 via CDN.
                    </li>
                    <li>
                        Vanilla JavaScript.
                    </li>
                </ol>
            </div>
        </div>
    </section>
</section>